################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AsyncTaskProgramSamples/.vs/AsyncTaskProgramSamples
/AsyncTaskProgramSamples/AsyncTaskProgramSamples/bin/Debug/net8.0
/AsyncTaskProgramSamples/AsyncTaskProgramSamples/obj
